/* .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    gap: 2rem;
}
.btn button{
    height: 3rem;
    width: 7rem;
}
.text h1{
    font-size: 5.5rem;
    font-style: normal;
} */
/* body {
    background-color: #ffffff; /* Default light mode background color */
   
        body{
          margin: 0;
          padding: 0;
          font-family: sans-serif;
        }
        main{
            display: flex;
            align-items: center;
            justify-content: center;
          /* margin: 5vh 15%; */
          margin-top: 9rem;
        }
        h1{
          font-size: 40px;
          font-weight: 400;
          text-align: center;
          font-size: 5rem;
          font-style: normal;
         
        }
        img{
          width:50%;
          height:auto;
        }
        p{
          text-align: justify;
          font-size: 18px;
        }
        header{
            display: flex;
            justify-content: center;
            
        }
        label{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 45px;
            height: 22px;

            top: 70px; 
            border: 2px solid;
            border-radius: 20px;
        }
        label:before{
            position: absolute;
            content: '';
            width:20px;
            height: 20px;
            left: 1px;
            top: 1px;
            border-radius: 50%;
            background: #000;
            cursor: pointer;
            transition: 0.4s;
        }
        label.active:before{
            left: 24px;
            background: #fff;
        }
        body.night{
            background: #000;
            color: #fff;
        }
        @media screen and (min-width:900px) {
          .respon{
            display: flex;
          }
          img{
            height:50%;
            width:auto;
            padding-top: 3vh;
            padding-right: 5%;
          }
          p{
            max-width: 80%;
            line-height: 30px;
          }
        }